<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="root">
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input id="input" type="text" v-model="newName" />
            <button @click="addName" id="button">Add Name</button>
        </div>

        <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

        <script type="text/javascript">
        
            var app = new Vue({
                el: "#root",
                data: {
                    newName: '',
                    names: ['Joe', 'Mary', 'Jane', 'Jack']
                },

                methods: {
                    addName() {
                        app.names.push(this.newName);
                        this.newName = '';
                    }
                },
            });
        </script>
    </body>
</html>